<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077630921129-oo76p66733h8203s9o2qomkfro8136hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077630921129-oo76p66733h8203s9o2qomkfro8136hk</string>
	<key>API_KEY</key>
	<string>AIzaSyBcbokb5mzpHgyMNuahs56Obvo0heoP1FI</string>
	<key>GCM_SENDER_ID</key>
	<string>1077630921129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thuvaraganp.CodeDeck</string>
	<key>PROJECT_ID</key>
	<string>codedeck-d0c40</string>
	<key>STORAGE_BUCKET</key>
	<string>codedeck-d0c40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077630921129:ios:67e5721fe2dae1141f3cb8</string>
</dict>
</plist>